.chat-app-main {
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 100%;
  min-height: 120vh;
}

.message {
  display: flex;
}

.new-message {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.new-message-input {
  width: 80%;
}

.send-button {
  width: 20%;
  background-color: rgb(28, 66, 219);
  color: #fff;
}

.users-messages,
.users-message-email {
  display: flex;
  justify-content: flex-end;
}

/* .users-messages-email, */
.email,
.users-message-email {
  color: var(--accent-color);
}

tr {
  background-color: rgb(226, 226, 226);
  background-color: #282c34;
}
/* 
.users-messages {
  padding-right: 10%;
} */
