.authentication {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 12.5%;
}

.authentication-form,
.create-user-form,
.forgot-password-form {
  flex-direction: column;
  justify-content: center;
  align-items: column;
  display: flex;
  gap: 5px;
  width: 20%;
  border-style: solid rgb(252, 250, 250);
  border-radius: 1%;
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background: rgb(252, 250, 250);
}

.space-between-input {
  padding: 1%;
}

.authentication-form-input,
.create-user-form-input,
.forgot-password-form-input {
  display: block;
  padding: 4%;
}

.authentication-error {
  color: red;
  font-size: 12px;
  text-align: center;
}

.button-forgot {
  color: var(--accent-color);
}

.button-forgot:hover {
  cursor: pointer;
}

.forgot-button-main {
  width: 75%;
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  margin-left: 12.5%;
  padding: 3% 6%;
  font-size: 120%;
}

.forgot-button {
  width: 75%;
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
  margin-left: 12.5%;
  padding: 1.5% 3%;
  font-size: 100%;
}
