.authentication {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 17.5%;
}

.authentication-form {
  /* max-width: 500px; */
  flex-direction: column;
  justify-content: center;
  align-items: column;
  display: flex;
  gap: 5px;
  /* padding-left: 12.5%; */
  width: 20%;
}

.create-user-form {
  /* max-width: 500px; */
  flex-direction: column;
  justify-content: center;
  align-items: column;
  display: flex;
  gap: 5px;
  /* padding-left: 12.5%;
  width: 20%; */
}

.create-user-button {
  margin-left: 12.5%;
  width: 75%;
}

.authentication-form-input,
.create-user-form-input {
  display: block;
}

.authentication-forgot,
.create-user,
.google-link {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.authentication-or {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.authentication-success {
  color: green;
  font-size: 12px;
  margin: 20px 0;
  text-align: center;
}

.authentication-error {
  color: red;
  font-size: 12px;
  margin: 20px 0;
  text-align: center;
}
