body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --accent-color: rgb(28, 66, 219);
  --accent-color: rgb(27, 56, 173);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat, sans-serif";
  font-weight: 700;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border: 1px solid #999;
  background-color: #f5f5f5;
  color: black;
}

button:disabled {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ddd;
}

.button-main {
  width: 100%;
  background-color: var(--accent-color);
  color: #fff;
  border: 1px solid var(--accent-color);
}

.button-main:hover {
  background-color: var(--accent-color-dark);
  border: 1px solid var(--accent-color-dark);
}

a {
  text-decoration: none;
  color: var(--accent-color-dark);
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

input[type="date"] {
  padding: 6px 16px;
}

input:hover {
  border: 1px solid #999;
}

select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

table {
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  text-align: left;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 8px;
  font-size: 16px;
  color: #333;
}

body {
  background-color: rgb(255, 251, 251);
}

.error {
  color: red;
}
